.home-container {
    display: flex;
    width: 100%;
}

.content {
    margin-left: 250px; /* Assurez-vous que cela correspond à la largeur de votre menu latéral */
    padding: 20px;
    flex: 1;
}
